<%- include('../partials/header.ejs')%>

<div class="container">
  
    <!-- <h1 >Escolha o seu número</h1> -->

    <p class="lead">Tabuada do número: <%- num %></p>
  
  <table class="table table-striped">
    
    <% tabuadas.map(item => { %>
    <tr>
      <td><%= item.num %>&nbsp;</td>
      <td>&nbsp; x &nbsp;</td>
      <td><%= item.i%></td>
      <td>= &nbsp; </td>
      <td><%= item.resultado%></td>
    </tr>
    <% }) %>
  </table>
  
</div>

<%- include('../partials/footer.ejs')%>